{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>

</head>

<body class="bg-light">
    {% if user.is_scout %}
    <nav class="navbar player-navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="ms-5 navbar-brand d-flex fs-2 fw-bold" href="#">
                <p class="text-white">Urban</p>
                <p class="text-warning">Scout</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ms-3 d-flex w-50">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn shadow-none"><i class="bi bi-search fs-3 text-white"></i></button>
                </div>
                <div class="ms-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-white" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'ScoutClub' %}">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'ScoutPlayer' %}">Players</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex w-100 justify-content-start justify-content-sm-end">
                    <div class="border rounded p-2 pb-0 mt-2 ms-3">
                        <p class="text-light "><i class="bi bi-binoculars-fill"></i> {{user.first_name}}</p>
                    </div>
                    <a class="d-flex flex-column justify-content-center text-decoration-none"
                        href="{% url 'logout' %}"><button class="btn text-white ms-4">Log-out</button></a>
                </div>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar player-navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="ms-5 navbar-brand d-flex fs-2 fw-bold" href="#">
                <p class="text-white">Urban</p>
                <p class="text-warning">Scout</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ms-3 d-flex w-50">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn shadow-none"><i class="bi bi-search fs-3 text-white"></i></button>
                </div>
                <div class="ms-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-white" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'PlayerScout' %}">Scouts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'player-club' %}">Clubs</a>
                        </li>

                    </ul>
                </div>
                <div class="d-flex w-100 justify-content-start justify-content-sm-end">
                    <div class="border rounded p-2 pb-0 mt-2 ms-3">
                        <p class="text-light "><i class="bi bi-person-circle"></i> {{user.first_name}}</p>
                    </div>
                    <a class="d-flex flex-column justify-content-center text-decoration-none"
                        href="{% url 'logout' %}"><button class="btn text-white ms-4">Log-out</button></a>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    {% for i in club %}
    <div class="d-flex flex-wrap justify-content-center mt-4">
        <div class="col-lg-3 h-50 col-12 m-3 p-5 rounded bg-white shadow-lg position-sticky">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="">
                        <img class="rounded-circle img-width " src={{i.img.url}} alt="">
                    </div>
                </div>
                <div class="text-center">
                    <p class="text-dark mt-2 fs-4 fw-bold">{{i.club_name}} {% if i.scouted_by != '' %}
                        <i class="bi bi-patch-check-fill text-primary"></i>
                        {% endif %}
                    </p>
                    <p class="text-secondary">District: {{i.district}}</p>
                    <p class="text-secondary">Locality: {{i.locality}}</p>

                </div>
                <div>
                    <p>Club Reputation :{% with reputation=i.club_reputation %} {% for j in abilityRange %}
                        {% if j < reputation %} <i class="bi bi-star-fill text-warning"></i>
                            {% else %}
                            <i class="bi bi-star text-warning"></i>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}
                    </p>
                    {% if i.scouted_by != '' %}
                    <p class="fw-bold">Scouted By {{i.scouted_by}} <i class="bi bi-patch-check-fill text-primary"></i>
                    </p>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <button class="followbutton p-4" data-follow-id="{{ i.id }}">
                            <p class="">Follow</p>
                            <i class="bi bi-person-fill-add text-white"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-5 col-12 player-feeds m-3 p-5 rounded bg-white shadow-lg">

            {% for j in feeds %}
            <div class="mt-4 border-top pt-4">
                <div class="d-flex">
                    <div class="feed-img">
                        <img class="w-100 rounded-circle" src={{i.img.url}} alt="">
                    </div>
                    <div class="ms-2 d-flex">
                        <p class="fw-bold">
                            {{i.club_name}}
                        </p>
                        <p class="ms-2 text-secondary">{{j.datetime}}</p>
                    </div>
                </div>
                <div class="w-100 mt-3">
                    {% if j.video.url != '' %}
                    <video class="w-100" controls>
                        <source src="{{ j.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p class="fw-bold mt-3">{{i.club_name}}
                        {% endif %}
                        {% if j.img.url != '' %}
                    <div class="w-100 mt-3">
                        <img class="w-100" src="{{j.img.url}}" alt="">
                    </div>
                    <p class="fw-bold mt-3">{{i.club_name}}
                        {% endif %}
                </div>
                <div class="">

                    <p>{{j.feed}}</p>
                    </p>
                    <div class="mt-2">
                        <button class="btn shadow-none like-button" data-feed-id="{{ j.id }}">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                        <p id="likes-count-{{ j.id }}">{{ j.likes_cout }} likes</p>
                    </div>

                </div>
            </div>
            {% endfor %}


        </div>
        {% endfor %}
        {% if user.is_scout %}
        <div class="col-lg-3 col-12">
            <div class="m-3 p-5  player-recomendation rounded bg-white shadow-lg">
                <div>
                    <p class="fw-bold">Recommended Players</p>
                    {% for Players in playerdata %}

                    <a class="text-decoration-none text-dark" href="{% url 'player-home' Players.id %}">
                        <div class="d-flex">
                            <div class="rec-img-club">
                                <img class="w-100 rounded-circle" src="{{Players.img.url}}" alt="">
                            </div>
                            <p class="ms-2">{{Players.first_name}} {{Players.last_name}}{% if Players.scouted_by != ''%}
                                <i class="bi bi-patch-check-fill text-primary"></i>
                                {% endif %}
                            </p>
                            </p>
                        </div>
                    </a>
                    {% endfor %}


                </div>
            </div>
            <div class="m-3 p-5  player-recomendation rounded bg-white shadow-lg">
                <div>
                    <p class="fw-bold">Recommended Clubs</p>
                    {% for clubs in clubdata %}
                    {% if clubs.is_staff == 0 %}
                    <a class="text-decoration-none text-dark" href="{% url 'clubHome' clubs.id %}">
                        <div class="d-flex">
                            <div class="rec-img-club">
                                <img class="w-100 rounded-circle" src="{{clubs.img.url}}" alt="">
                            </div>
                            <p class="ms-2">{{clubs.club_name}} <i class="bi bi-patch-check-fill text-primary"></i></p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-3 col-12">
            <div class="m-3 p-5 rounded player-recomendation bg-white shadow-lg">
                <div>
                    <p class="fw-bold">Recommended Clubs</p>
                    {% for clubs in clubdata %}

                    <a class="text-decoration-none text-dark" href="{% url 'clubHome' clubs.id %}">
                        <div class="d-flex">
                            <div class="rec-img-club">
                                <img class="w-100 rounded-circle" src="{{clubs.img.url}}" alt="">
                            </div>
                            <p class="ms-2">{{clubs.club_name}}{% if clubs.scouted_by != '' %}
                                <i class="bi bi-patch-check-fill text-primary"></i>
                                {% endif %}
                            </p>
                            </p>
                        </div>
                    </a>
                    {% endfor %}


                </div>
            </div>
            <div class="m-3 p-5 rounded player-recomendation bg-white shadow-lg">
                <div>
                    <p class="fw-bold">Recommended Scouts</p>
                    {% for scouts in scout %}
                    {% if scouts.is_staff == 0 %}
                    <a class="text-decoration-none text-dark" href="{% url 'scout-home' scouts.id %}">
                        <div class="d-flex">
                            <div class="rec-img-club">
                                <img class="w-100 rounded-circle" src="{{scouts.img.url}}" alt="">
                            </div>
                            <p class="ms-2">{{scouts.first_name}} {{scouts.last_name}} <i
                                    class="bi bi-patch-check-fill text-primary"></i></p>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>
        {% endif %}
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form action="post">
    {% csrf_token %}
</form>

<script>
    $(document).ready(function () {
        function getCSRFToken() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }
        $(".like-button").each(function () {
            var feedId = $(this).data("feed-id");
            var likeButton = $(this);

            // Check if the user has already liked the feed
            $.ajax({
                type: "GET",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'check_like_status' 0 %}".replace('0', feedId),
                success: function (data) {
                    if (data.liked) {
                        // User has already liked the feed, display the liked icon
                        likeButton.html('<i class="bi bi-heart-fill fs-5 text-danger"></i>');
                    } else {
                        // User has not liked the feed, display the regular like icon
                        likeButton.html('<i class="bi bi-heart fs-5"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        // Handle like button click event
        $(".like-button").click(function () {
            var feedId = $(this).data("feed-id");
            var likeButton = $(this);
            var headers = {
                "X-CSRFToken": getCSRFToken()
            };
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'like_feed_ajax' 0 %}".replace('0', feedId),
                success: function (data) {
                    // Update the like count on the page
                    var likesCountElement = $("#likes-count-" + feedId);
                    likesCountElement.text(data.likes_count + " likes");

                    // Toggle between the two icons
                    if (likeButton.html().includes("text-danger")) {
                        likeButton.html('<i class="bi bi-heart fs-5"></i>');
                    } else {
                        likeButton.html('<i class="bi bi-heart-fill fs-5 text-danger"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $(".followbutton").click(function () {
            var FollowId = $(this).data("follow-id");
            var followButton = $(this);
            var text=$(".not-followed")
            var icon=$(".not-followed-icon")
            var headers = {
                "X-CSRFToken": getCSRFToken()
            };
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'following' 0 %}".replace('0', FollowId),
                dataType:"json",
                success: function (data) {
                    
                    if (data['message']=="unfollowed") {
                        // User has already liked the feed, display the liked icon
                        followButton.html('<p class="">Follow</p><i class="bi bi-person-fill-add text-white"></i>');
                        
                    } else {
                        // User has not liked the feed, display the regular like icon
                        followButton.html('<p class="">Unfollow</p><i class="bi bi-person-fill-dash text-white"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $(".followbutton").each(function () {
            var FollowId = $(this).data("follow-id");
            var followButton = $(this);
            var headers = {
                "X-CSRFToken": getCSRFToken()
            };
            $.ajax({
                type: "GET",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'is_following' 0 %}".replace('0', FollowId),
                success: function (data) {
                    if (data.is_following) {
                        // User has already liked the feed, display the liked icon
                        followButton.html('<p class="">Unfollow</p><i class="bi bi-person-fill-dash text-white"></i>');
                        
                    } else {
                        // User has not liked the feed, display the regular like icon
                        
                        followButton.html('<p class="">Follow</p><i class="bi bi-person-fill-add text-white"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

        });
    });
</script>