{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #search-results{
            position: fixed;
            background-color: white;
            z-index: 1;
            top: 75px;
        }
        .search-container {
        position: relative;
        width: 50%;
        margin-left: 3px;
    }

    /* Style for the user list container */
    .user-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 200px; /* Set a maximum height for the list */
        overflow-y: auto; /* Enable vertical scrolling */
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        display: none; /* Hide by default */
    }

    /* Style for each user box */
    .user-box {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    /* Style for user image */
    .user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    /* Style for user name */
    .user-name {
        font-weight: bold;
    }
    @media (max-width: 991.98px) {
        #search-results{
            position: fixed;
            background-color: white;
            z-index: 1;
            top: 125px;
        }
}
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
</head>

<body class="bg-light">
    {% if user.is_scout %}
    <nav class="navbar player-navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="ms-5 navbar-brand d-flex fs-2 fw-bold" href="#">
                <p class="text-white">Urban</p>
                <p class="text-warning">Scout</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ms-3 d-flex w-75">
                    <input type="text" class="form-control" id="search_bar" placeholder="Search">
                    <button class="btn shadow-none"><i class="bi bi-search fs-3 text-white"></i></button>
                </div>
                <div id="search-results" class="col-lg-3 col-11 rounded shadow-lg">
                    <!-- Results will be displayed here -->
                </div>
                <div class="ms-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-secondary" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page" href="{% url 'ScoutClub' %}">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'ScoutPlayer' %}">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page"
                                href="{% url 'following_feeds' %}">Feeds</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex w-100 justify-content-start justify-content-sm-end">
                    <div class="border rounded p-2 pb-0 mt-2 ms-3">
                        <p class="text-light "><i class="bi bi-binoculars-fill"></i> {{user.first_name}}</p>
                    </div>
                    <a class="d-flex flex-column justify-content-center text-decoration-none"
                        href="{% url 'logout' %}"><button class="btn text-white ms-4">Log-out</button></a>
                </div>
            </div>
        </div>
    </nav>
    {% elif user.is_player %}
    <nav class="navbar player-navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="ms-5 navbar-brand d-flex fs-2 fw-bold" href="#">
                <p class="text-white">Urban</p>
                <p class="text-warning">Scout</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ms-3 d-flex w-75">
                    <input type="text" class="form-control" id="search_bar" placeholder="Search">
                    <button class="btn shadow-none"><i class="bi bi-search fs-3 text-white"></i></button>
                </div>
                <div id="search-results" class="col-lg-3 col-11 rounded shadow-lg">
                    <!-- Results will be displayed here -->
                </div>
                <div class="ms-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-secondary" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'PlayerScout' %}">Scouts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'player-club' %}">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page"
                                href="{% url 'following_feeds' %}">Feeds</a>
                        </li>

                    </ul>
                </div>
                <div class="d-flex w-100 justify-content-start justify-content-sm-end">
                    <div class="border rounded p-2 pb-0 mt-2 ms-3">
                        <p class="text-light "><i class="bi bi-person-circle"></i> {{user.first_name}}</p>
                    </div>
                    <a class="d-flex flex-column justify-content-center text-decoration-none"
                        href="{% url 'logout' %}"><button class="btn text-white ms-4">Log-out</button></a>
                </div>
            </div>
        </div>
    </nav>
    {% else %}
    <nav class="navbar player-navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="ms-5 navbar-brand d-flex fs-2 fw-bold" href="#">
                <p class="text-white">Urban</p>
                <p class="text-warning">Scout</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ms-3 d-flex w-75">
                    <input type="text" class="form-control" id="search_bar" placeholder="Search">
                    <button class="btn shadow-none"><i class="bi bi-search fs-3 text-white"></i></button>
                </div>
                <div id="search-results" class="col-lg-3 col-11 rounded shadow-lg">
                    <!-- Results will be displayed here -->
                </div>
                <div class="ms-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  text-secondary" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'ClubScout' %}">Scouts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" aria-current="page"
                                href="{% url 'ClubPlayer' %}">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page"
                                href="{% url 'following_feeds' %}">Feeds</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex w-100 justify-content-start justify-content-sm-end">
                    <div class="border rounded p-2 pb-0 mt-2 ms-3">
                        <p class="text-light "><i class="bi bi-shield-fill"></i> {{user.club_name}} </p>
                    </div>
                    <a class="d-flex flex-column justify-content-center text-decoration-none"
                        href="{% url 'logout' %}"><button class="btn text-white ms-4">Log-out</button></a>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="d-flex flex-wrap justify-content-center mt-4">
        
        <div class="col-lg-8 col-12 player-feeds m-3 p-5 rounded bg-white shadow-lg">
            <div><p class="h4 text-secondary">New Posts</p></div>
            {% for j in feeds %}
            <div class="mt-4 border-top pt-4">
                <div class="d-flex">
                    <div class="feed-img">
                        <img class="w-100 rounded-circle" src={{j.user.img.url}} alt="">
                    </div>
                    <div class="ms-2 d-flex">
                        {% if j.user.is_club %}
                        <p class="fw-bold">
                            {{j.user.club_name}}
                        </p>
                        {% else %}
                        <p class="fw-bold">
                            {{j.user.first_name}} {{j.user.last_name}}
                        </p>
                        {% endif %}
                        <p class="ms-2 text-secondary">{{j.datetime}}</p>
                    </div>
                </div>
                <div class="w-100 mt-3">
                    {% if j.video.url != '' %}
                    <video class="w-100" controls loading="lazy">
                        <source src="{{ j.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <p class="fw-bold mt-3">{% if j.user.is_club %}
                        <p class="fw-bold">
                            {{j.user.club_name}}
                        </p>
                        {% else %}
                        <p class="fw-bold">
                            {{j.user.first_name}} {{j.user.last_name}}
                        </p>
                        {% endif %}
                        {% endif %}
                        {% if j.img.url != '' %}
                    <div class="w-100 mt-3">
                        <img class="w-100" src="{{j.img.url}}" alt="" loading="lazy">
                    </div>
                    <p class="fw-bold mt-3">{% if j.user.is_club %}
                        <p class="fw-bold">
                            {{j.user.club_name}}
                        </p>
                        {% else %}
                        <p class="fw-bold">
                            {{j.user.first_name}} {{j.user.last_name}}
                        </p>
                        {% endif %}
                        {% endif %}
                </div>
                <div class="">

                    <p>{{j.feed}}</p>
                    </p>
                    <div class="mt-2">
                        <button class="btn shadow-none like-button" data-feed-id="{{ j.id }}">
                            <i class="bi bi-heart fs-5"></i>
                        </button>
                        <p id="likes-count-{{ j.id }}">{{ j.likes_cout }} likes</p>
                    </div>

                </div>
            </div>
            {% endfor %}


        </div>
        
    </div>
    <div class="alan-btn"></div></body>
    <script src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
    <script type="text/javascript"
     src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
    <script>
      var alanBtnInstance = alanBtn({
        key: "c5c3927b6204baee8ef04ad65d7ab54e2e956eca572e1d8b807a3e2338fdd0dc/stage",
        onCommand: function (commandData) {
          if (commandData.command === "feed") {
            window.location.href = "http://127.0.0.1:8000/following_feeds";
          }else if (commandData.command === "scout") {
                window.location.href = "http://127.0.0.1:8000/PlayerScout";
            } else if (commandData.command === "club") {
                window.location.href = "http://127.0.0.1:8000/player-club";
            } else if (commandData.command === "trail") {
                window.location.href = "http://127.0.0.1:8000/trial_list";
            } else if (commandData.command === "tour") {
                window.location.href = "http://127.0.0.1:8000/tournaments";
            }else if (commandData.command === "home") {
                window.location.href = "http://127.0.0.1:8000/";
            }
          
        },
        rootEl: document.getElementById("alan-btn"),
      });
    </script>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form action="post">
    {% csrf_token %}
</form>

<script>
    $(document).ready(function () {
        function getCSRFToken() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }
        $(".like-button").each(function () {
            var feedId = $(this).data("feed-id");
            var likeButton = $(this);

            // Check if the user has already liked the feed
            $.ajax({
                type: "GET",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'check_like_status' 0 %}".replace('0', feedId),
                success: function (data) {
                    if (data.liked) {
                        // User has already liked the feed, display the liked icon
                        likeButton.html('<i class="bi bi-heart-fill fs-5 text-danger"></i>');
                    } else {
                        // User has not liked the feed, display the regular like icon
                        likeButton.html('<i class="bi bi-heart fs-5"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        // Handle like button click event
        $(".like-button").click(function () {
            var feedId = $(this).data("feed-id");
            var likeButton = $(this);
            var headers = {
                "X-CSRFToken": getCSRFToken()
            };
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'like_feed_ajax' 0 %}".replace('0', feedId),
                success: function (data) {
                    // Update the like count on the page
                    var likesCountElement = $("#likes-count-" + feedId);
                    likesCountElement.text(data.likes_count + " likes");

                    // Toggle between the two icons
                    if (likeButton.html().includes("text-danger")) {
                        likeButton.html('<i class="bi bi-heart fs-5"></i>');
                    } else {
                        likeButton.html('<i class="bi bi-heart-fill fs-5 text-danger"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $(".followbutton").click(function () {
            var FollowId = $(this).data("follow-id");
            var followButton = $(this);
            var text=$(".not-followed")
            var icon=$(".not-followed-icon")
            var headers = {
                "X-CSRFToken": getCSRFToken()
            };
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'following' 0 %}".replace('0', FollowId),
                dataType:"json",
                success: function (data) {
                    
                    if (data['message']=="unfollowed") {
                        // User has already liked the feed, display the liked icon
                        followButton.html('<p class="">Follow</p><i class="bi bi-person-fill-add text-white"></i>');
                        
                    } else {
                        // User has not liked the feed, display the regular like icon
                        followButton.html('<p class="">Unfollow</p><i class="bi bi-person-fill-dash text-white"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $(".followbutton").each(function () {
            var FollowId = $(this).data("follow-id");
            var followButton = $(this);
            var headers = {
                "X-CSRFToken": getCSRFToken()
            };
            $.ajax({
                type: "GET",
                headers: {
                    "X-CSRFToken": getCSRFToken()
                },
                url: "{% url 'is_following' 0 %}".replace('0', FollowId),
                success: function (data) {
                    if (data.is_following) {
                        // User has already liked the feed, display the liked icon
                        followButton.html('<p class="">Unfollow</p><i class="bi bi-person-fill-dash text-white"></i>');
                        
                    } else {
                        // User has not liked the feed, display the regular like icon
                        
                        followButton.html('<p class="">Follow</p><i class="bi bi-person-fill-add text-white"></i>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

        });
        $("#search_bar").keyup(function(){
            
            var headers = {
                "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
            };
            var searchTerm = $(this).val();
            console.log(searchTerm)
            if (searchTerm.trim() === "") {
        // If it's empty, hide the container and return
        $("#search-results").hide();
        return;
    }
    
            $.ajax({
                type:"GET",
                headers: headers,
                dataType:'Json',
                url:"{% url 'search_by_name' 0 %}".replace('0',searchTerm),
                success: function (data) {
                    // Clear previous results
                    $("#search-results").empty();

                    // Parse the JSON data
                    var users = JSON.parse(data);
                    
                    // Loop through the users and create HTML elements
                    for (var i = 0; i < users.length; i++) {
                        
    var user = users[i];
    console.log(user.pk)
    var userHtml = '<div class="user-box">';
    userHtml += '<img class="user-img" src="' + user.fields.img + '" alt="User Image">';
    userHtml += '<p class="user-name">';
    
    // Check if the user is a Scout and add a link to ScoutHome
    if (user.fields.is_scout) {
        userHtml += '<a class="text-decoration-none text-dark" href="{% url "scout-home" 0 %}">'.replace("0",user.pk);
        userHtml += user.fields.first_name + ' ' + user.fields.last_name;
    }
    // Check if the user is a Player and add a link to PlayerHome
    else if (user.fields.is_player) {
        userHtml += '<a class="text-decoration-none text-dark" href="{% url "player-home" 0 %}">'.replace("0",user.pk);
        userHtml += user.fields.first_name + ' ' + user.fields.last_name;
    }
    else{
        userHtml += '<a class="text-decoration-none text-dark" href="{% url "clubHome" 0 %}">'.replace("0",user.pk);
        userHtml += user.fields.club_name;
    }
    
    // Close the anchor tag if added
    if (user.fields.isScout || user.fields.isPlayer) {
        userHtml += '</a>';
    }
    
    userHtml += '</p>';
    userHtml += '</div>';

    $("#search-results").append(userHtml);
}

                    
                    // Show the user list
                    $("#search-results").show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })
        })
    });
</script>