{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<nav class="navbar player-navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="ms-5 navbar-brand d-flex fs-2 fw-bold" href="#">
            <p class="text-white">Urban</p>
            <p class="text-warning">Scout</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="ms-3 d-flex w-50">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn shadow-none"><i class="bi bi-search fs-3 text-white"></i></button>
            </div>
            <div class="ms-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  text-white" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" aria-current="page" href="{% url 'ClubScout' %}">Scouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" aria-current="page"
                            href="{% url 'ClubPlayer' %}">Players</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex w-100 justify-content-start justify-content-sm-end">
                <div class="border rounded p-2 pb-0 mt-2 ms-3">
                    <p class="text-light "><i class="bi bi-shield-fill"></i> {{user.club_name}} </p>
                </div>
                <a class="d-flex flex-column justify-content-center text-decoration-none"
                    href="{% url 'logout' %}"><button class="btn text-white ms-4">Log-out</button></a>
            </div>
        </div>
    </div>
</nav>
<div class="d-flex flex-wrap justify-content-center mt-4">
    {% for scout in scout %}
    <div class="col-lg-3 h-50 col-12 m-3 p-5 rounded bg-white shadow-lg position-sticky">
        <div class="">
            <div class="d-flex justify-content-center">
                <div class="">
                    <img class="rounded-circle img-width " src={{scout.img.url}} alt="">
                </div>
            </div>
            <div class="text-center">
                <p class="text-dark mt-2 fs-4 fw-bold">{{scout.first_name}} {{scout.last_name}} <i class="bi bi-patch-check-fill text-primary"></i></p>
                <p class="text-secondary">District: {{scout.district}}</p>
                <p class="text-secondary">Locality: {{scout.locality}}</p>

            </div>
            <div>
                <p class="fw-bold">UrbanScout Rating: <i class="bi bi-star-fill text-warning"></i><i
                        class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i
                        class="bi bi-star-fill text-warning"></i><i class="bi bi-star-half text-warning"></i></p>
            </div>
            
        </div>
    </div>
    <div class="col-lg-5 col-12 player-feeds m-3 p-5 rounded bg-white shadow-lg">
        
        {% for i in feeds %}
        <div class="mt-4 border-top pt-4">
            <div class="d-flex">
                <div class="feed-img">
                    <img class="w-100 rounded-circle" src={{scout.img.url}} alt="">
                </div>
                <div class="ms-2">
                    <p class="fw-bold">
                        {{scout.first_name}} {{scout.last_name}}
                    </p>

                </div>
            </div>
            <div class="w-100 mt-3">
                {% if i.video.url != '' %}
                <video class="w-100" controls>
                    <source src="{{ i.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p class="fw-bold mt-3">{{scout.first_name}} {{scout.last_name}}
                {% endif %}
                {% if i.img.url != '' %}
                <div class="w-100 mt-3">
                    <img class="w-100"
                        src="{{i.img.url}}"
                        alt="">
                </div>
                <p class="mt-3 fw-bold">{{scout.first_name}} {{scout.last_name}}
                {% endif %}
            </div>
            <div class="">
                
                <p>{{i.feed}}</p>
                </p>

            </div>
        </div>
        {% endfor %}
        <!-- <div class="mt-4 border-top pt-4">
            <div class="d-flex">
                <div class="feed-img">
                    <img class="w-100 rounded-circle" src={{scout.img.url}} alt="">
                </div>
                <div class="ms-2">
                    <p class="fw-bold">
                        {{scout.first_name}} {{scout.last_name}}
                    </p>

                </div>
            </div>
            <div class="w-100 mt-3">
                <img class="w-100"
                    src="https://images.unsplash.com/photo-1589487391730-58f20eb2c308?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
                    alt="">
            </div>
            <div class="mt-3">
                <p class="fw-bold">{{scout.first_name}} {{scout.last_name}}
                <p>Retail giants like Reliance Retail, Aditya Birla Fashion & Retail, and Devyani International,
                    among others, are on an offline expansion spree, but real estate is proving hard to come by,
                    reports Livemint.</p>
                </p>

            </div>
        </div> -->


    </div>
    <div class="col-lg-3 col-12">
        <div class="m-3 p-5 rounded bg-white shadow-lg">
            <div>
                <p class="fw-bold">Recommended Players</p>
                {% for Players in player %}

                <a class="text-decoration-none text-dark" href="{% url 'player-home' Players.id %}">
                    <div class="d-flex">
                        <div class="rec-img-club">
                            <img class="w-100 rounded-circle" src="{{Players.img.url}}" alt="">
                        </div>
                        <p class="ms-2">{{Players.first_name}} {{Players.last_name}}{% if Players.scouted_by != '' %}
                            <i class="bi bi-patch-check-fill text-primary"></i>
                            {% endif %}</p></p>
                    </div>
                </a>
                {% endfor %}


            </div>
        </div>
        <div class="m-3 p-5 rounded bg-white shadow-lg">
            <div>
                <p class="fw-bold">Recommended Scouts</p>
                {% for scouts in scouts %}
                {% if scouts.is_staff == 0 %}
                <a class="text-decoration-none text-dark" href="{% url 'scout-home' scouts.id %}">
                    <div class="d-flex">
                        <div class="rec-img-club">
                            <img class="w-100 rounded-circle" src="{{scouts.img.url}}" alt="">
                        </div>
                        <p class="ms-2">{{scouts.first_name}} {{scouts.last_name}} <i class="bi bi-patch-check-fill text-primary"></i></p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        
    </div>
    {% endfor %}
</div>
</html>